/* App.css */
/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Apply globally */
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent body scrolling */
}

/* Ensure the app fills the viewport */
.App {
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill the entire height */
}

/* Main Content Styling */
.content {
  display: flex;
  flex: 1;
  height: calc(100% - 50px); /* Full height minus navbar */
}
