.calculation-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.calculation-form {
  position: relative;
  width: 350px;
  padding: 2rem;
  background: rgba(31, 32, 36, 0.9);
  border-radius: 12px;
  color: #fff;
  text-align: center;
}

.custom-number-input {
  margin-bottom: 1rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-wrapper input[type="number"] {
  text-align: center;
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.input-wrapper button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #060b14e7;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.input-wrapper button:hover {
  background-color: #444;
  transform: scale(1.1);
}

.input-wrapper button:active {
  transform: scale(0.9);
}

.submit-button, .close-button {
  padding: 0.75rem;
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.submit-button {
  background-color: #060b14e7;
  color: #fff;
}

.close-button {
  background-color: rgb(250, 250, 250);
  color: #000;
}

.submit-button:hover, .close-button:hover {
  opacity: 0.9;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}