.content {
  display: relative;
  height: calc(100vh - 50px); 
}

.map-container {
  flex: 1; 
  position: relative;
  overflow: hidden; 
  width: 100%;
  z-index: 1;
}
.popup-content {
  max-width: 150px; /* Set a maximum width for the content */
  word-wrap: break-word; /* Break long words if necessary */
  white-space: normal; /* Allow text to wrap to the next line */
}