.content {
  display: relative;
  height: calc(100vh); 
}

.map-container {
  flex: 1; 
  position: relative;
  width: 100%;
  z-index: 1;
}
.popup-content {
  max-width: 150px; 
  word-wrap: break-word;
  white-space: normal; 
}