.marker {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 0.5rem;
  transition: background-color 0.5s ease-in-out;
}

.marker:hover {
  background-color: #86868652; 
  cursor:pointer;
}
.marker-active:hover {
  background-color: #eba577ce; 
  cursor:pointer;
}

.marker-active {
  background-color: #ffdfc996; 
  font-weight: bold;
}

.marker-content {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

.marker-text {
  flex: 1; 
  word-wrap: break-word; 
  margin-right: 0.5rem;
  overflow-wrap: break-word; 
  max-width: 75%; 
}

.marker-actions {
  display: flex;
  justify-content: flex-end; 
}

.delete-button {
  background-color: #ff4d4d;
  color: white; 
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.delete-button:hover {
  background-color: #e60000; 
}
.edit-button {
  background-color: #4CAF50;
  color: white; 
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem; 
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-button:hover {
  background-color: #45a049; 
}